.calculator {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 560px;
  padding: 10px;
  background-color: green;
  border-radius: 21px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 68, 84, 1) 100%
  );
  border: 1px solid #333;
}

.input_field {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.input_field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.result_field {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.buttons_field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 3px;
  width: 100%;
  height: 400px;
  padding-top: 10px;
}

.theme_switcher_field {
  grid-column: 1 / 4;
}

.unknown_button {
  border: 1px solid #fff;
  border-radius: 20px;
}

.button_element {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.button_one,
.button_two,
.button_three,
.button_four,
.button_five,
.button_six,
.button_seven,
.button_eight,
.button_nine {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.button_result {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: span 2;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
