.calculator {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 560px;
  padding: 10px;
  background-color: green;
  border-radius: 21px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 68, 84, 1) 100%
  );
  border: 1px solid #333;
  font-family: "Merriweather Sans", sans-serif;
}

.input_field {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.input_field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.result_field {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: transparent;
}

.buttons_field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 3px;
  width: 100%;
  height: 400px;
  padding-top: 10px;
}

.theme_switcher_field {
  display: flex;
  align-items: center;
  justify-content: start;
  grid-column: span 4;
}

.button_element {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
}

.button_one,
.button_two,
.button_three,
.button_four,
.button_five,
.button_six,
.button_seven,
.button_eight,
.button_nine {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
}

.button_delete {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: rgb(197, 104, 17);
  font-size: 20px;
}

.button_result {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: span 2;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_theme_text {
  color: #fff;
  margin-left: 10px;
}
